.gray-100 {
    color: var(--gray-100);
}

.gray-200 {
    color: var(--gray-200);
}

.gray-300 {
    color: var(--gray-300);
}

#container {
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#schedule {
    width: 100%;
    height: 100%;
    padding: 80px;
    max-width: 498px;
    background-color: var(--gray-700);
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 12px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#time_display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

#agenda {
    padding: 80px;
    background-color: var(--gray-700);
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 12px;
    flex-grow: 1;
}

#agendamentos {
    border-width: 1px;
    border-style: solid;
    border-color: var(--gray-600);
    border-radius: 8px;
}


#agendamentos_header {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 12px 20px;
}

    #agendamentos_header p {
        margin: 0px;
    }

    #lista {
        padding: 20px;
    }

#layout_header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}