@using Agendamentos.Web.Source.Components
@page "/"

<PageTitle>Agendamentos</PageTitle>

<div id="container">

	<div id="schedule">

		<div id="title">
			<h1 class="title_lg gray-100">Agende um atendimento</h1>
			<p class="text_sm gray-300">Selecione data, horário e informe o nome do cliente para criar o agendamento</p>
		</div>

		<div id="form">

			<div id="date">
				<h1 class="title_md gray-200">Data</h1>
				<DateInput>
					<IconContent>
						<CalendarMonth />
					</IconContent>
				</DateInput>
			</div>

			<div id="time">
				<h1 class="title_md gray-200">Horários</h1>
				<div id="time_display">
					<TimeSelect Name="Time" Time="09:00" Disabled="true"/>
					<TimeSelect Name="Time" Time="10:00" />
					<TimeSelect Name="Time" Time="11:00" />
					<TimeSelect Name="Time" Time="12:00" />
					<TimeSelect Name="Time" Time="13:00" />
					<TimeSelect Name="Time" Time="14:00" />
					<TimeSelect Name="Time" Time="15:00" />
					<TimeSelect Name="Time" Time="16:00" />
					<TimeSelect Name="Time" Time="17:00" />
					<TimeSelect Name="Time" Time="18:00" />
					<TimeSelect Name="Time" Time="19:00" />
					<TimeSelect Name="Time" Time="20:00" />
				</div>
			</div>

			<div id="client">
				<h1 class="title_md gray-200">Cliente</h1>
				<TextInput Placeholder="Nome do Cliente">
					<IconContent>
						<AccountBox />
					</IconContent>
				</TextInput>
			</div>

			<div id="employee">
				<h1 class="title_md gray-200">Funcionário</h1>
				<Selector> 
					<IconContent>
						<Badge />
					</IconContent>
				</Selector>
			</div>

		</div>

		<Button Text="Agendar"></Button>
	</div>

	<div id="appointments">
	</div>

</div>