@page "/Signin"

<PageTitle>Cadastrar-se</PageTitle>

	<div id="Signin">

		<div id="title">
			<h1 class="title_lg gray-100">Cadastre-se</h1>
		</div>

		<div id="form">

			<div id="Name">
				<TextInput Placeholder="Nome">
					<IconContent>
						<AAAAAAAAA />
					</IconContent>
				</TextInput>
			</div>

			<div id="Email">
				<TextInput Placeholder="E-mail">
					<IconContent>
						<BBBBBBBBB />
					</IconContent>
				</TextInput>
			</div>

			<div id="Password">
				<TextInput Placeholder="Senha">
					<IconContent>
						<CCCCCCCCCC />
					</IconContent>
				</TextInput>
			</div>
			
			<div id="ConfirmPassword">
				<TextInput Placeholder="Confirmar a senha">
					<IconContent>
						<DDDDDDDDDDD />
					</IconContent>
				</TextInput>
			</div>
			<Button Text="Registrar"></Button>
		<Button Text="Entrar"></Button>
		</div>

	</div>

	<div id="Login">

		<div id="title">
			<h1 class="title_lg gray-100">Entrar</h1>
		</div>

		<div id="form">

			<div id="Email">
				<TextInput Placeholder="E-mail">
					<IconContent>
						<BBBBBBBBB />
					</IconContent>
				</TextInput>
			</div>

			<div id="Password">
				<TextInput Placeholder="Senha">
					<IconContent>
						<CCCCCCCCCC />
					</IconContent>
				</TextInput>
			</div>
			
			<div id="ConfirmPassword">
				<TextInput Placeholder="Confirmar a senha">
					<IconContent>
						<DDDDDDDDDDD />
					</IconContent>
				</TextInput>
			</div>
			<Button Text="Entrar"></Button>
		<Button Text="Registrar"></Button>
		</div>

	</div>



	<div id="agenda">
		<div id="agenda_header">
			<h1 class="title_lg">Sua agenda</h1>
			<p class="text_sm">Consulte os seus cortes de cabelo agendados por dia</p>
		</div>

		<div id="agendamentos">
			<div id="agendamentos_header">
				<span style="color:var(--yellow-dark);"><CalendarToday /></span>
				<p class="text_sm">Agendamentos</p>
			</div>

			<div id="listas">
				<div id="listas_header">
					<h1 class="title_md">Horário</h1>
					<h1 class="title_md">Cliente</h1>
					<h1 class="title_md">Funcionário</h1>

				</div>
			</div>

		</div>

	</div>

