.pagina {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    padding: 30px;
    border: 1px solid var(--gray-600);
    border-radius: 16px;
    background-color: var(--gray-700);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.progap {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
