@page "/register"

<PageTitle>Cadastrar-se</PageTitle>

<div class="pagina">

	<div class="conteudo">

		<div id="title">
			<h1 class="text_xlg gray-100">Cadastrar-se</h1>
		</div>

		<div id="Name">
			<TextInput Placeholder="Nome">
				<IconContent>
					<AccountBox />
				</IconContent>
			</TextInput>
		</div>

		<div id="Email">
			<TextInput Placeholder="E-mail">
				<IconContent>
					<Mail />
				</IconContent>
			</TextInput>
		</div>

		<div id="Senhaaaaaa">
			<TextInput Placeholder="Senha">
				<IconContent>
					<Lock />
				</IconContent>
			</TextInput>
		</div>

		<div id="ConfirmPassword">
			<TextInput Placeholder="Confirmar a senha">
				<IconContent>
					<Lock />
				</IconContent>
			</TextInput>
		</div>

		<div class="progap">
			<Button Text="Registrar"></Button>
			<span>Já tem uma conta?<br /><a href="/login">Clique aqui para fazer login</a></span>
		</div>

	</div>

</div>
