@page "/create/service"

<div class="pagina">

	<div class="conteudo">

		<div class="header">
			<h1 class="title_lg">Criação de serviço</h1>
		</div>

		<div class="inputs">
			<TextInput Placeholder="Nome do serviço" />
			<TextInput Placeholder="Descrição do serviço" />
			<TextInput Placeholder="Preço do serviço" />
		</div>

		<Button Text="Criar serviço"></Button>
	</div>

</div>


