div {
    width: 340px;
    border: 1px solid var(--gray-500);
    border-radius: 8px;
    padding: 12px;
    position: relative;
    display:flex;
    flex-direction: row;
    gap: 8px;
}

input {
    flex-grow: 1;
    background-color: transparent;
    color: var(--gray-200);
    border:none;
    outline:none;
}

input::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}