<div class="content">
	<span style="color:var(--yellow);">@IconContent</span>
	<select>
		<option disabled selected>@Placeholder</option>
	</select>
</div>

@code {
	[Parameter]
	public RenderFragment? IconContent { get; set; }
	[Parameter]
	public string? Placeholder { get; set; }
}
