@using System.Text.Json
@rendermode InteractiveServer

<div class="custom-select-service">
	<div class="select-displayed-value"
		 data-value="default"
		 @onclick="ToggleMenu"
		 @onblur="HandleBlur"
		 id="ServiceSelector"
		 tabindex="0">

		<span style="color:var(--yellow);"><Badge /></span>
		<span id="content" class="flex-grow-1 text_md">@_selectedName</span>
		<KeyboardArrowDown />
	</div>

	<ul class="select-options-list @(_isMenuOpen ? "show":"")" id="ServiceOptions">
		@if (Services.Count < 1)
		{
			<li data-value="0">Nenhum serviço encontrado</li>
		}
		else
		{
			@foreach (var service in Services)
			{
				<li data-value="@service.ID" @onclick="() => SelectService(service)" tabindex="0">@service.Name</li>
			}
		}
	</ul>
</div>

@code {
	[Inject]
	private IHttpClientFactory _httpClientFactory { get; set; } = default!;
	public List<ServiceDto> Services { get; set; } = [];

	[Parameter]
	public int SelectedId { get; set; }

	[Parameter]
	public EventCallback<int> SelectedIdChanged { get; set; }

	private string _selectedName = "Selecione o Serviço";
	private bool _isMenuOpen = false;

	protected override async Task OnInitializedAsync()
	{
		await LoadServicesAsync();
	}

	private async Task LoadServicesAsync()
	{
		try
		{
			var httpClient = _httpClientFactory.CreateClient("API");
			var response = await httpClient.GetAsync("service/get_all");

			if (response.IsSuccessStatusCode)
			{
				var content = await response.Content.ReadAsStringAsync();
				Services = JsonSerializer.Deserialize<List<ServiceDto>>(content, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
			}
			else
			{
				Console.WriteLine($"Erro ao carregar os dados: {response.StatusCode}");
			}
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Houve uma exceção ao carregar funcionários: ${ex.Message}");
		}
	}

	private async Task SelectService(ServiceDto service)
	{
		if (SelectedId != service.ID)
		{
			SelectedId = service.ID;
			_selectedName = service.Name;

			await SelectedIdChanged.InvokeAsync(SelectedId);
		}
		_isMenuOpen = false;
	}

	private void ToggleMenu()
	{
		_isMenuOpen = true;
	}

	private async Task HandleBlur()
	{
		await Task.Delay(100);
		_isMenuOpen = false;
	}
}
