<div>
	<span style="color: varvar(--yellow)">@IconContent</span>
	<input type="text" placeholder="@Placeholder" />
</div>

@code {
	[Parameter]
	public RenderFragment? IconContent { get; set; }
	[Parameter]
	public string? Placeholder {get; set;} 
}
